# ---------------------------------
# Visual Studio & C++ build files
# ---------------------------------
.vs/
out/
build/
*.obj
*.pch
*.pdb
*.ipch
*.tlog
*.idb
*.ilk
*.suo
*.user
*.opendb
*.db

# ---------------------------------
# Build folders (BURASI KRİTİK)
# DLL uzantısını yasaklamadığımız için
# bu klasörlerin engelli olması ŞART.
# ---------------------------------
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
bin/
obj/
!bin/*.dll
!lib/*.lib

# ---------------------------------
# Binary outputs (EXE'leri yine de engellemek iyidir)
# Çünkü bazen proje köküne de exe çıkabilir.
# DLL satırını buradan siliyoruz!
# ---------------------------------
*.exe

# ---------------------------------
# Windows junk
# ---------------------------------
Thumbs.db
ehthumbs.db
Desktop.ini